<div class="container">
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#"> {{ candidateDetails.Designation }} </a>
	    </div>
	    <ul class="nav navbar-nav pull-right">
	      <li class="active"><a href="#">Home</a></li>
	      <li><a href="#Skills">Skills</a></li>
	      <li><a href="#Tools">Tools</a></li>
	      <li><a href="#Experiences">Experiences</a></li>
	      <li><a href="#Education">Education</a></li>
	    </ul>
	    <div class="clearfix"></div>
	  </div>
	</nav>

	<!-- <div class="jumbotron">
    	<h3 class="display-3"> My name is {{candidateDetails.Name}} </h3> 
  	</div> -->
</div>

