<div class="container">
	<div id="CandidateDetails">
		<div class="jumbotron">
			<h2 class="text-center"> Hello, My Name is {{ UserMetaData.CandidateDetails.Name }} </h2>
			<p> {{ UserMetaData.Objective }} </p>
		</div>
	</div>
	<div id="Skills">
		<div class="panel panel-default">
		    <div class="panel-heading"> <h4> Technical Skills </h4> </div>
		    <div class="panel-body">
		    	<div class="row">
		    		<div class="col-sm-6">
		    			<div class="frontend">
				    		<div class="title">
				    			<h4> FrontEnd </h4>
				    		</div>
				    		<ul>
								<li *ngFor="let skill of UserMetaData.Skills.FrontEnd">
									{{ skill }}
								</li>
							</ul>
				    	</div>
		    		</div>
		    		<div class="col-sm-6">
		    			<div class="backend">
				    		<div class="title">
				    			<h4> BackEnd </h4>
				    		</div>
				    		<ul>
								<li *ngFor="let skill of UserMetaData.Skills.BackEnd">
									{{ skill }}
								</li>
							</ul>
				    	</div>
		    		</div>
		    	</div>				    	
		    </div>
		 </div>	 
	</div>
	<div id="Tools">
		<div class="panel panel-default">
			<div class="panel-heading"> <h4> Tools </h4> </div>
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-6">
						<ul>
							<li *ngFor="let tool of UserMetaData.Tools">
								{{ tool }}
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="Experiences">
		<div class="panel panel-default">
			<div class="panel-heading"> <h4> Work History </h4> </div>
			<div class="panel-body">
				<ul>
					<li *ngFor="let experience of UserMetaData.Experiences">
						<div class="exp-details">
							<div class="exp-header">
								<span class="company-name"> {{experience.CompanyName}} </span>
								<span class="duration"> [{{experience.Duration}}] </span>
								<span class="designation"> [{{experience.Designation}}] </span>
							</div>							
							<div class="responsibilites">
								<ul>
									<li *ngFor="let responsibility of experience.Responsibility"> 
										{{ responsibility }}
									</li>
								</ul>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	
	<div id="Education">
		<div class="panel panel-default">
			<div class="panel-heading"> <h4> Education </h4> </div>
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-6">
						<div class="graduation">
							<div class="title">
				    			<h4> Graduation </h4>
				    		</div>
				    		<ul class="graduation">
								<li>
									<div>
										<label for=""> University : </label> {{ UserMetaData.Education.Graduation.University }}
									</div>
								</li>
								<li>
									<div>
										<label for=""> College : </label> {{ UserMetaData.Education.Graduation.College }}
									</div>
								</li>
								<li>
									<div>
										<label for=""> Degree : </label> {{ UserMetaData.Education.Graduation.Degree }}
									</div>
								</li>
								<li>
									<div>
										<label for=""> Year : </label> {{ UserMetaData.Education.Graduation.Year }}
									</div>
								</li>
								<li>
									<div>
										<label for=""> Aggregate : </label> {{ UserMetaData.Education.Graduation.Aggregate }}
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="hsc">
							<div class="title">
				    			<h4> HSC </h4>
				    		</div>
				    		<ul class="hsc">
								<li>
									<div>
										<label for=""> University : </label> {{ UserMetaData.Education.HSC.University }}
									</div>
								</li>
								<li>
									<div>
										<label for=""> College : </label> {{ UserMetaData.Education.HSC.College }}
									</div>
								</li>
								<li>
									<div>
										<label for=""> Degree : </label> {{ UserMetaData.Education.HSC.Degree }}
									</div>
								</li>
								<li>
									<div>
										<label for=""> Year : </label> {{ UserMetaData.Education.HSC.Year }}
									</div>
								</li>
								<li>
									<div>
										<label for=""> Aggregate : </label> {{ UserMetaData.Education.HSC.Aggregate }}
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="ssc">
							<div class="title">
				    			<h4> SSC </h4>
				    		</div>
				    		<ul class="ssc">
								<li>
									<div>
										<label for=""> University : </label> {{ UserMetaData.Education.SSC.University }}
									</div>
								</li>
								<li>
									<div>
										<label for=""> College : </label> {{ UserMetaData.Education.SSC.College }}
									</div>
								</li>
								<li>
									<div>
										<label for=""> Degree : </label> {{ UserMetaData.Education.SSC.Degree }}
									</div>
								</li>
								<li>
									<div>
										<label for=""> Year : </label> {{ UserMetaData.Education.SSC.Year }}
									</div>
								</li>
								<li>
									<div>
										<label for=""> Aggregate : </label> {{ UserMetaData.Education.SSC.Aggregate }}
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>